<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationCustomer</filter-name>
        <filter-class>Filter.AuthenticationCustomer</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationSeller</filter-name>
        <filter-class>Filter.AuthenticationSeller</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationCustomerAndSeller</filter-name>
        <filter-class>Filter.AuthenticationCustomerAndSeller</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationGuestAndCustomer</filter-name>
        <filter-class>Filter.AuthenticationGuestAndCustomer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationGuestAndCustomer</filter-name>
        <url-pattern>/Cart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationCustomerAndSeller</filter-name>
        <url-pattern>/Detail</url-pattern>
        <url-pattern>/Profile</url-pattern>
        <url-pattern>/ChangePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationSeller</filter-name>
        <url-pattern>/ManagerOrder</url-pattern>
        <url-pattern>/ManagerProduct</url-pattern>
        <url-pattern>/ViewCustomer</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationCustomer</filter-name>
        <url-pattern>/AddMoney</url-pattern>
        <url-pattern>/MyOrder</url-pattern>
        <url-pattern>/ViewSeller</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrder</servlet-name>
        <servlet-class>Controller.MyOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>Controller.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProduct</servlet-name>
        <servlet-class>Controller.ManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrder</servlet-name>
        <servlet-class>Controller.ManagerOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>Controller.ViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSeller</servlet-name>
        <servlet-class>Controller.ViewSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoney</servlet-name>
        <servlet-class>Controller.AddMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrder</servlet-name>
        <url-pattern>/MyOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProduct</servlet-name>
        <url-pattern>/ManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrder</servlet-name>
        <url-pattern>/ManagerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSeller</servlet-name>
        <url-pattern>/ViewSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoney</servlet-name>
        <url-pattern>/AddMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
